* {
    font-size: 1.2rem;
    font-family: "Source Code Pro", monospace;
}

window {
    border: 2px solid #7aa2f7; /* Outer blue border */
    background-color: #000000;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

#input {
    margin: 10px;
    border: none;
    border-bottom: 3px solid #7aa2f7;
    background-color: #000000;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

#inner-box, #outer-box {
    background-color: #000000;
    border-radius: 20px;
}

#outer-box {
    margin: 5px;
    padding: 10px;
}

#text {
    padding: 10px;
    color: #c0caf5;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20px;
}

#entry {
    background-color: transparent;
    color: #c0caf5;
    border-radius: 20px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#entry:hover {
    background-color: #010a2e;
    color: #24283b;
}

#entry:selected {
    background-color: #7aa2f7;
    color: #24283b;
}

#text:selected {
    color: #24283b;
}
